.container  {
    display:flex;
    flex-direction:row;
    flex-direction: left;
    grid-auto-rows: minmax(200px, auto);
    align-items: center;
}

.container img{
    width:auto;
    height:50px;
    margin:5px;
}

