#logo{
    width:40px;
   float:left;
   
}

#logocm{
    width:150px;
    z-index: 40;
    position:absolute;
    margin-top: -14px;
    margin-left:120px;

}
.mynavbar  {
    background: transparent !important;
}