#logo{
    width:2em;
   float:left;
   margin-left: 2em;
   position: relative;
   z-index: 300;
   
}

#logocm{
    width:12em;
    z-index: 30;
    position:absolute;
    margin-top: -2em;
    margin-left:4.5em;

}
.mynavbar  {
    background: transparent !important;
}

#navbarDropdown{
    margin-left: 4.5em;
}

.fas {
    margin-left: 6em;
}

#faq{
    margin-left: 17em;
}

#contact{
    margin-left: 20em;
}