#logo{
    width:30px;
   float:left;
   
}

#logocm{
    width:150px;
    z-index: 50;
    position:absolute;
    margin-top: 20px;
    margin-left:40px;

}
.navbar  {
    background: rgba(255, 255, 255, 0.3) !important;
}