.m-nav-toggle {
    width: 30px;
    height: 23px;
    margin-left: 60%;
    display: none;
    align-items: center;
    cursor: pointer;
  }
  
  span.m-toggle-icon,
  span.m-toggle-icon:before,
  span.m-toggle-icon:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    position: relative;
  }
  
  span.m-toggle-icon:before {
    top: 10px;
  }
  
  span.m-toggle-icon:after {
    top: -13px;
  }
  
  #Navbar.is-open {
    transform: translateY(0);
  }
  