html {
    height: 100%;
}

body {
    position: relative;
    background-color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*font-family: "Arvo";*/
    text-align: center;
}


/******* SECTION ENTETE *******/
.entete{
    height: 100vh;
}


/******* PRESENTATION ********/
.presentation{
    height: 70vh;
    padding-top: 3em;
    background-color: grey;   
}

.presentation>.card.mb-3{
    height: 60vh;
    width: 80%;
    margin: auto;
    
}
/******** SECTION NOUVELLE EDITION *********/
.new_edition{
    height: 30vh;
    background-color: orangered;
    padding-top: 4em;
}

.card.card-body{
    background-color: orangered;
}







/******* SECTION ANCIENNE EDITION ********/
.ancienne_edition{
    height: 50vh;
}

/******* SECTION TEMOIGNAGES ********/
.temoignages{
    height: 25vh;
    
}


