html {
    height: 100%;
}

body {
    position: relative;
    background-color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*font-family: "Arvo";*/
    text-align: center;
}


/******* SECTION ENTETE *******/
.entete{
    height: 100vh;
}


/******* PRESENTATION ********/
.presentation{
    height: 70vh;
    background-color: grey;
}


/******** SECTION NOUVELLE EDITION *********/
.new_edition{
    height: 30vh;

}

.accordion>.card {
    width: 80% !important;
    margin-left: auto;
    margin-right:auto; 
}


/******* SECTION ANCIENNE EDITION ********/
.ancienne_edition{
    height: 50vh;
}

/******* SECTION TEMOIGNAGES ********/
.temoignages{
    height: 25vh;
    
}


