html {
    height: 100%;
}

body {
    position: relative;
    background-color: white;
    min-height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /*font-family: "Arvo";*/
    text-align: center;
}


/******* SECTION ENTETE *******/
.entete{
    height: 100vh;
    background-color: orange;
}


/******* PRESENTATION ********/
.presentation{
    height: 70vh;   
}

.carousel-item{
    height: 70vh;
    margin-left: 0%;
    margin-right: -100% !important;
    padding-left: 10%;
    padding-right: 10%;
}

.carousel-item>.card{
    padding:2em;
    height: 70vh;
    border: 0px solid rgba(0, 0, 0, .125);
    margin-top: 1.5%;
}

/*.col-md-4>img.card-img{
margin-top: auto;
margin-bottom: auto;
}*/

.carousel-control-next-icon,
.carousel-control-prev-icon {
    width: 40px !important;
    height: 40px !important;
    background-color: orangered;
    border-radius:50%;
}

/******** SECTION NOUVELLE EDITION *********/
.new_edition{
    height: 30vh;
    background-color: orangered;
    padding-top: 4em;
}

.card.card-body{
    background-color: orangered;
}


/******* SECTION ANCIENNE EDITION ********/
.ancienne_edition{
    height: 50vh;
    background-color: beige;
}

/******* SECTION TEMOIGNAGES ********/

.temoignages{
    height: 25vh;
}
#carouselTemoignages>.carousel-inner>.carousel-item.active{
    height: 25vh;
}

#carouselTemoignages{
    height: 25vh;
}

.card.mb-4{
    height: 25vh;
    border: 0px solid rgba(0, 0, 0, .125);
}

.card-body{
    margin-top: 1.5%;

}

.footer{
    background-color: black;
    height: 25vh;
}